@charset "utf-8";

$minW:1200px;

%ty_tr{ transition: all 0.3s; -moz-transition: all 0.3s; -webkit-transition: all 0.3s; -o-transition: all 0.3s; }

body{ font-family: '微软雅黑'; min-width: $minW; background-color: #fff; }

.demo{ width: 100px; }

@media screen and (min-width:0px) and (max-width:768px){
	body{ 
		.demo{ width: rem(50); }
	}
}


// 动画
.an_toLeft {
    animation: toLeft 0.5s linear 0s;
    -webkit-animation: toLeft 0.5s linear 0s;
    -ms-animation: toLeft 0.5s linear 0s;
    animation-fill-mode : both;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
@mixin an_delay($num1,$num2){
	@for $i from $num1 through $num2{
		.an_delay#{$i}{ animation-delay: 0.1s*$i; }
	} 
}
@include an_delay(1,40);

@keyframes toTop{
	0%{ transform:translate3d(0px,100px,0); opacity: 0;filter: alpha(opacity= 0); }
	100%{ transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}